Benefits of Using a Function
Suppose you need to write a program to draw a circle and color it. You can create two functions to solve this problem:

A function to draw the circle
A function to color the circle


following benefits:

Reusable Code: Since functions are independent blocks of code, 
you can declare a function once and use it multiple times. 

For example, once you create a function to draw a circle, you can use it whenever you need to draw a circle.

Organized Code: Dividing small tasks into different functions makes our code easy to organize.
Readability: Functions increase readability by reducing redundancy and improving the structure of our code.