CSS lacked features such as variables, nesting, mixins, and functions.
In an attempt to make code easier and less repetitive CSS pre-processors were born.
The most common pre-processors these days are Sass, Less, and Stylus.

Pre-processors were not without their problems though; for one, the browser can't understand them, you need a build/compile step before you can see what they're doing. 

CSS spec began to incorporate aspects of Pre-processors with variables and more recently nesting.


