Sass @function
Functions allow you to define complex operations on SassScript values that you can re-use throughout your stylesheet.
They make it easy to abstract out common formulas and behaviours in a readable way.

Functions in Sass allows a developer to calculate a single value. 
This will be calculated at build time so can not include vanilla CSS Variables.

Sass @mixin
Mixins allow you to define styles that can be re-used throughout your stylesheet.
They make it easy to avoid using non-semantic classes like .float-left, and to distribute collections of styles in libraries.

Mixins in Sass allows a developer to @include a whole block of css (property and value pairs).
It also allows you to pass in arguments that can modify the block. Though, again as this is calculated at build time vanilla CSS Variables aren't available.