
JavaScript HTML DOM Navigation


With the HTML DOM, you can navigate the node tree using node relationships.
The entire document is a document node
Every HTML element is an element node
The text inside HTML elements are text nodes
All comments are comment nodes