How to Select DOM Elements::

1. getElementById:

const titleElement = document.getElementById("page-title")
console.log(titleElement)

2. getElementsByClassName:

const famContacts = document.getElementsByClassName("family")
console.log(famContacts)

3. getElementsByTagName: 

const allContacts = document.getElementsByTagName('p')
console.log(allContacts)

4. querySelector:

const firstWorkContact = document.querySelector('.work')
console.log(firstWorkContact)

5. querySelectorAll:

const allBtns = document.querySelectorAll('button')
console.log(allBtns)