An object is a collection of properties, and a property is an association between a name (or key) and a value.

A cup is an object, with properties. A cup has a color, a design, weight, a material it is made of, etc.
The same way, JavaScript objects can have properties, which define their characteristics.

************************************************************************************************************************************
You can create an object using an object initializer
**An object initializer is a comma-delimited list of zero or more pairs of property names and associated values 
of an object, enclosed in curly braces ({}). 
Objects can also be initialized using Object.create() or by invoking a constructor function with the new operator.



const object1 = { a: 'foo', b: 42, c: {} };

console.log(object1.a);


OR 



const person = {
    name: "John",
    age: 20,
};
console.log(person)


OR 


const cat = {
    name: "Luna",
};

// access property
console.log(cat["name"]);


An object initializer is an expression that describes the initialization of an Object. 