 JavaScript frameworks are a collection of libraries containing code written in JavaScript, 
 making life a lot easier for software developers. 
 
 Each JavaScript framework offers pre-built codes for different areas and different purposes 
 in software development, saving time for the developer.

 A JavaScript framework provides a blueprint, so you have a guide to follow rather than having 
 to start coding your website from scratch. 

 Popular JavaScript Framework libraries: 

 - AngularJS
 - React.js
 - VueJS
 - Bootstrap
 - Node.js
 - Ember
 - Next JS
 - Svelte JS
 - Jasmine
 - Jest