Web Development Basics :: 

1. What is a website?
2. What is an IP address?
3. What does HTTP mean?
4. What is coding?
5. What does front-end mean?
6. What does back-end mean?
7. What is a CMS?
8. What is cybersecurity?












Websites are files stored on servers, which are computers that host websites.
IP address is a unique string of numbers. Each device has an IP address to distinguish itself from other devices connected via Internet.
HTTP HyperText Transfer Protocol is what connects our website request to the remote server that houses all website data. It’s a set of rules (a protocol) that defines how messages should be sent over the Internet.
Coding refers to writing code for servers and applications using programming languages. 
Front-end (or client-side) is the side of a website or software that you see and interact with as an Internet user.
Back-end (or server-side) is the side that you don’t see when you use the Internet. It’s the digital infrastructure, and to non-developers, which looks like a bunch of numbers, letters, and symbols.
CMS content management system is a web application or a series of programs used to create and manage web content.
Cybersecurity is the practice of securing data, networks, and computers from malicious threats.