Types of Web Development ::

Front-end Development
Back-end Development
Full Stack Development
Website Development
Desktop Development
Mobile Development
Game Development
Security Development


Front-end developers work on the client- or user-facing side of websites, programs, and software — in other words, what users see.
Back-end web developers work on the servers of websites, programs, and software to make sure everything works properly behind-the-scenes.
Full stack developers work in both the front-end and back-end sides of a website. They can create a website, application, or software program from start to finish.
Website developers can be front-end, back-end, or full-stack developers.
Desktop developers specialize in building software applications that run locally on your device, rather than over the
         Internet in the web browser.
Mobile developers build applications for mobile devices such as smartphones or tablets.
Game developers specialize in writing code for video games, including console games, PC games, and mobile games.
Security developers establish methods and procedures for the security of a software program or website.