Web Development Process ::

a.Planning: Need to determine how and why the website will be used.
b.Design: This stage requires to map out the exact structure of the website, both aesthetically and functionally. 
c.Development: The process of writing code for a website or web app.
d.Testing: This ensures that the website functions the same for everyone.
e.Deployment: This is the point at which the website is published.
f.Maintenance: A website will always need to be updated and fixed to make sure it aligns with the evolving standards for web pages.