Web Development Resources & Tools ::

a.Integrated Development Environments (IDEs)
b.Version Control Systems
c.Frameworks and Libraries
d.Database Management Systems (DBMS)
e.Testing Tools
f.Deployment Platforms